@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Sora:wght@100..800&display=swap');
@plugin './hero.js';
@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
    .container {
        @apply mx-auto;
    }
}

@layer base {
    h1 {
        @apply text-3xl;
    }
}

@theme {
    --color-fBackGround: #0F0715;
    --color-sBackGround: #1C0E2D;
    --color-hoverElment: #7B48E2;
    --color-thBackGround: #DDDDDD;
    --color-hoverButtom: #8750F7;
    --color-bgProjects: #140C1C;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}